{% extends "base.html" %}
{% load static %}

{% block title %}Profile{% endblock title %}

{% block content %}
    <div class="header">
        <a href='{% url 'blackjack:logout' %}'>Log out</a>
    </div>

    <div class="left-button">
        <form class="button-form" action="{% url 'blackjack:new_game' %}" method="get">
            <input class="button" type="submit" value="New Game"/>
        </form>
    </div>

    <div class="center">
            <h2>Welcome back {{ user.username }}</h2>
            <h3>Active games</h3>
            <div class="hand">
                {% for game in games %}
                <div class="card{% if forloop.last %} card-draw{% endif %}">
                <a class="game" href="{% url 'blackjack:game' game.table.pk %}">{{ game.table.pk }}</a>
                </div>
                {% endfor %}
        </div>
    </div>

    <div class="right-button">
        <form class="button-form" action="{% url 'blackjack:delete_view' %}" method="get">
            <input class="button" type="submit" value="Delete Games"/>
        </form>
    </div>
{% endblock content %}
