{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock title %}

{% block nav %}
<nav>
    <a href='#'>Join Game</a>
    <a href='{% url 'blackjack:new_game' %}'>Edit Profile</a>
    <a class= 'justify-right' href='{% url 'blackjack:logout' %}'>Log out</a>
</nav>
{% endblock nav %}

{% block content %}
<div class="table-wrapper">
    <div class="button">
        <form class="form" action="{% url 'blackjack:new_game' %}" method="get">
            <input class="action" type="submit" value="New Game">
        </form>
    </div>

    <div class="profile-wrapper">
        <h2>Welcome back {{ user.username }}</h2>
        <h3>Active games</h3>
        <div class="hand">
            {% for game in games %}
            <div 
                class="card{% if forloop.last %} last-card{% endif %}" 
                style="--counter: {{forloop.counter0}}">
                <a class="card-table" href='{% url 'blackjack:game' game.pk %}'>
                {{ game.name }}
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="button">
    <form class="form" action="{% url 'blackjack:delete_view' %}" method="get">
        <input class="action" type="submit" value="Delete Games">
    </form>
    </div>
</div>

{% endblock content %}
