/* BASE ELEMENTS */
*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background: #000;
    font-family: EB Garamond;
    color: #dedede;
    font-size: 16px;
    margin:0;
} 

nav {
    padding: 1rem;
    display: flex;
    border-bottom: 1px solid pink;
}

nav a {
    color: #dedede;
    font-weight: bold;
    padding: 0 1rem;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1, h2, h3 {
    margin: 0.25rem;
}

a {
    color: #dedede;
    font-weight: bold;
}


/* BASE STYLE */
.wood-border {
    background-color: #83481d;
    background-image: 
    repeating-radial-gradient(circle at 25% 50%, transparent 0, #620 3px),
    repeating-radial-gradient(circle at 75% 50%, transparent 0, #620 5px),
    repeating-linear-gradient(#3B2200, #920, #3B2200);
    border-radius: 7px 7px 30% 30%;
    box-shadow: 0 0 10px #0006;
    padding: 20px;
    margin: 1rem;
    width: 960px;
    height: 640px;
}

.green-background {
    background-color: #00674c;
    background-image: linear-gradient(to top, rgba(255,255,255,0.15), rgba(255,255,255,0));
    box-shadow: inset 2px -2px 100px #0006, inset 2px -2px 7px black;
    border-radius: 7px 7px 30% 30%;
    height: 100%;
}

.table-wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr 10fr 4fr 1fr;
    grid-template-rows: 4fr 1fr 1fr 2fr;
    border-radius: 7px 7px 30% 30%;
    height: 100%;
    width: 100%;
}

.center-column {
    grid-column: 3;
    grid-row: 1/5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.left-column {
    grid-column: 2;
}

.right-column {
    grid-column: 4;
}

.center-row {
    grid-row: 3;
}

.form-items div label {
    display: block;
}

.form-items div input {
    width: 100%;
}

.form-items .helptext {
    display: none;
}

.button-form {
    height: 100%;
    width: 100%;
}

.button {
    font-family: inherit;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: #2ecc71;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
    height: 100%;
    width: 100%;
}

.button:hover {
  background-color: white;
  color: #2ecc71;
  border: 2px solid #2ecc71;
}

.button:active {
  transform: translateY(2px);
  box-shadow: none;
}

.small {
    height: 10%;
    width: 50%;
    margin: 10px 0;
}

/* PROFILE STYLE */
.profile-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-table {
    width: 8.26vw;
    height: 11.74vw;
    background-color: black;
    color: white;
    text-decoration: none;
    writing-mode: vertical-lr;
    text-orientation: upright;
    white-space: nowrap;
    transition: background-color 0.3s ease-in-out;
    border: 1px white solid;
    border-radius: 10px;
    padding: 5px 5px;
}

.card-table:hover {
    background: repeating-linear-gradient(-45deg, #dd5246 0, #e8d33f 7.14%, #6cbf36 14.28%, #30a9de 21.42%, #6d5dc4 28.56%, #2d8f8f 35.7%, #b34d9b 42.84%, #dd5246 50%);
    background-size: 400% 400%;
    animation: rainbow 10s ease infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* TABLE STYLES */
.hand {
    grid-template-columns: repeat(16, 10%);
    grid-template-rows: none;
    border: solid 5px #eee;
    border-radius: 10px;
    padding: 5px;
    width: 300px;
    display: grid;
}

.card {
    border-radius: 10px;
    height: calc(333px * 0.7);
    width: calc(234px * 0.7);
}


.card:hover {
    transform: 
    translateX(-0.5rem) 
    translateY(-1rem) 
    rotate(-0.001turn);
    transition: 0.2s ease-out;
    transition-delay: 0s; 
}

.card:hover ~ .card {
    transform: translateX(10%);
    transition: 0.2s ease-out;
}

.card img {
    height: 100%;
    width: 100%;
}

.card img:hover {
    box-shadow: 0 0px 10px 2px black;
    border-radius: 10px;
}

.card-draw {
    animation: slideInRight 1s ease-in-out;
}

.form div label {
    font-weight: bold;
}

.form div input {
    border-radius: 5px;
}

/* Outcome format */
.won, .Draw {
    font-weight: bold;
}


.You {
  color: #DEDEDE;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  animation: win-animation 0.8s ease-out;
  text-shadow: 2px 2px #000000;
  border-radius: 10px;
}

@keyframes win-animation {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.Dealer {
    color: #E60026;
}
