/* Base BlackJack Style */
*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background: #000;
    font-family: EB Garamond;
    color: #dedede;
    font-size: 16px;
    margin:0;
} 

nav {
    padding: 1rem;
    display: flex;
    border-bottom: 1px solid pink;
}

nav a {
    color: #dedede;
    font-weight: bold;
    padding: 0 1rem;
}

.justify-right {
    margin-left: auto;
}

h1, h2, h3 {
    margin: 0.25rem;
}

a {
    color: #dedede;
    font-weight: bold;
}

img {
    width: 8.26vw;
    height: 11.74vw;
    max-width: 11rem;
    max-height: 15.65rem;
}

img:hover {
    box-shadow: 0 0px 10px 2px black;
    border-radius: 10px;
}

.brown-border {
  background-color: #83481d;
  background-image: 
  repeating-radial-gradient(circle at 0 0, transparent 0, #620 3px),
  repeating-radial-gradient(circle at 100% 100%, transparent 0, #620 3px),
  repeating-linear-gradient(#3B2200, #920, #3B2200);
  border-radius: 7px;
  box-shadow: 0 0 10px #0006; /* Polished look with a shadow */
  padding: 20px; /* Add some padding to the content */
  margin: 1%; /* Center the wrapper horizontally */
}

.brown-border .content-wrapper {
  border-radius: 1px; /* Smaller rounded corners */
  padding: 1px; /* Smaller padding to fit inside the wrapper */
}

.content-wrapper {
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: #00674c; /* Casino green color */
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.15), rgba(255,255,255,0));
    box-shadow: inset 2px 2px 100px #0006, inset 2px 2px 7px black;
}

/* Table styles */

.table-view-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.table-view-card {
    animation: slideInRight;
    animation-duration: 1s;
    border-radius: 10px;
    transition: box-shadow 0.5s, transform 0.1s;
    position: relative;
}

.transparent-card {
    opacity: 0.5;
    width: 8.26vw;
    height: 11.74vw;
    max-width: 11rem;
    max-height: 15.65rem;
    margin: 5px;
}

.text-over-image {
    color: white;
    font-size: 1.5vw;
    font-weight: bold;
    opacity: 0.75;
    overflow: hidden;
    text-overflow: clip;
    text-decoration: none;
    word-break: break-word;
    top: 50%;
    left: 50%;
    width: 8vw;
    height: 11vw;
    position: absolute;
    transform: translate(-50%, -50%);
}

.table-view-card:hover {
    transform: translate(0px, -5px);
}

.main-form {
    position: relative;
    left: 50%;
    top: 50%;
}

/* Game Style */
.hand {
    display: flex;
    width: 20vw;
    border: solid 0.5vw #eee;
    border-radius: 1vw;
    height: 12.7vw;
}

.card {
    border-radius: 10px;
    transition: transform 1s;
    transform: translateX(calc(-6vw * var(--counter)));
}

.card:hover {
    transform: 
    translateX(calc(-6vw * var(--counter))) 
    translateX(-0.5rem) 
    translateY(-1rem) 
    rotate(-0.001turn);
    transition: 0.2s ease-out;
}

.card:hover ~ .card {
    transform: translateX(calc(-6vw * var(--counter))) translateX(3rem);
    transition: 0.2s ease-out;
}

.last-card {
    animation: slideInRight;
    animation-duration: 1s;
}


.card_flip {
    animation: flipInY 1s ease-out;
    transform-origin: translateX(calc(-6vw * var(--counter)));
}

.button-box {
    margin: 0;
    display: flex;
    justify-content: center;
}

.game-action-form {
    display: inline-grid;
    margin: 0 1rem;
    padding: 0;
}

.game-action-button {
    padding: 10px 1rem 10px 1rem;
    border-radius: 10px;
    font-family: inherit;
    text-align: center;
    color: inherit;
    background: inherit;
}

.smaller-action-button {
    display: inline-block;
    padding: 5px 0.5rem 5px 0.5rem;
    border-radius: 5px;
    font-family: inherit;
    text-align: center;
    color: inherit;
    background: inherit;
}

.table-name {
    display: inline-block;
}

.name-form {
    justify-content: space-between;
}

/* Outcome format */
.won, .Draw {
    font-weight: bold;
}

.You {
    color: #50C878;
}

.Dealer {
    color: #E60026;
}
