{% extends 'base.html' %}
{% load static %}

{% block title %}{{ table.username }}'s Table{% endblock title %}

{% block content %}
<h2> Dealer's hand</h2>
<div class="hand">
    <div><img class="card" 
              src="{% static 'blackjack/svgs/fronts/' %}{{ game.dealer_hand.0.file_name }}" 
              alt="{{ game.dealer_hand.0.name }}">
    </div>
    <div><img class="card card_flip" 
              src="{% static 'blackjack/svgs/fronts/' %}{{ game.dealer_hand.1.file_name }}" 
              alt="{{ game.dealer_hand.1.name }}">
    </div>
    {% for card in game.dealer_hand|slice:"2:" %}
    <div><img class="card card_draw" 
              src="{% static 'blackjack/svgs/fronts/' %}{{ card.file_name }}" 
              alt="{{ card.name }}">
    </div>
    {% endfor %}
</div>

<h2> {{ table.username }}'s hand</h2>
<div class="hand">
    {% for card in game.player_hand %}
    <div><img class="card" 
              src="{% static 'blackjack/svgs/fronts/' %}{{ card.file_name }}" 
              alt="{{ card.name }}">
    </div>
    {% endfor %}
</div>

<p class="{{ game.winner }}">{{ game.winner }}!</p>
<div class="button-box">
    <form class="game-action-form" action="{% url 'blackjack:play_again' table.id %}" method="post">
        {% csrf_token %}
        <input class="game-action-button" type="submit" value="Play again">
    </form>
</div>
{% endblock content %}
