{% extends "base.html" %}
{% load static %}

{% block content %}
    {% include "blackjack/table/header.html" %}
    <div class="center" id="center-div">
        <h2>Blackjack!</h2>
        {% if has_game %}
        <a class="button small" href="{% url 'blackjack:table' %}">Resume</a>
        <a class="button small" href="{% url 'blackjack:new_game' %}">New Game</a>
        {% else %}
        <a class="button small" href="{% url 'blackjack:new_game' %}">Play</a>
        {% endif %}
    </div>
{% endblock content %}
