{% load static %}
{% include "blackjack/table/header.html" %}

<div class="left-info">
    <h3>Bank: {{ game.coins }}</h3>
    <h3>Bet: {{ game.bet }}</h3>
    <p class="{{ game.winner }}">{{ game.winner }}!</p>
</div>

<div class="center">
    <h2> Dealer's hand</h2>
    <div class="hand">
        {% for card in game.dealer_hand %}
        <div 
            class="card{% if forloop.counter > 1 %} card-draw{% endif %}">
            <img 
                height="333" width="234"
                src="{% static 'blackjack/svgs/fronts/' %}{{ card.file_name }}" 
                alt="{{ card.name }}"/>
        </div>
        {% endfor %}
    </div>

    <h2>{{ player.name }}'s hand</h2>
    <div class="hand">
        {% for card in game.player_hand %}
            <div 
                class="card{% if forloop.last %} card-draw{% endif %}" >
                <img 
                    height="333" width="234"
                    src="{% static 'blackjack/svgs/fronts/' %}{{ card.file_name }}" 
                    alt="{{ card.name }}"/>
            </div>
        {% endfor %}
    </div>
</div>

<div class="right-button">
    <form class="button-form" hx-get="{% url 'blackjack:bet' pk %}" 
        hx-target="#table" hx-swap="innerHTML">
        {% csrf_token %}
        <input class="button" type="submit" id="play_again" value="Play again"/>
   </form>
</div>
