{% extends 'base.html' %}
{% load static %}
{% block title %}Delete Games{% endblock title %}

{% block content %}
<h3>Click to delete.</h3>
<div class="table-view-wrapper">
    {% for hand in hands %}
        <div class="table-view-card">
            <img class="transparent-card" 
                  src="{% static 'blackjack/svgs/backs/abstract.svg' %}"
                  alt="table {{ hand.table.pk }}">
            <a href="{% url 'blackjack:delete_game' hand.table.pk %}">
            <p class="text-over-image">{{ hand.table.name }}</p>
            </a>
        </div>
    {% endfor %}
</div>

<p><a href="{% url 'blackjack:profile' %}">back to profile</a></p>
{% endblock %}
