{% load static %}
{% include "blackjack/table/header.html" %}

<div class="left-info">
    <h3>Bank: {{ game.coins }}</h3>
    <p class="{{ game.winner }}">{{ game.winner }}!</p>
</div>

<div class="left-button">
    <form class="button-form" 
          action="{% url 'blackjack:lost' pk %}" 
          method="post">
        {% csrf_token %}
        <input name="action" class="button" type="submit" id="Quit" value="Quit"/>
    </form>
</div>

<div class="center">
    <h2> Dealer's hand</h2>
    <div class="hand">
        {% for card in game.dealer_hand %}
        <div 
            class="card{% if forloop.counter > 1 %} card-draw{% endif %}">
            <img 
                height="333" width="234"
                src="{% static 'blackjack/svgs/fronts/' %}{{ card.file_name }}" 
                alt="{{ card.name }}"/>
        </div>
        {% endfor %}
    </div>

    <h2>{{ player.name }}'s hand</h2>
    <div class="hand">
        {% for card in game.player_hand %}
            <div 
                class="card{% if forloop.last %} card-draw{% endif %}" >
                <img 
                    height="333" width="234"
                    src="{% static 'blackjack/svgs/fronts/' %}{{ card.file_name }}" 
                    alt="{{ card.name }}"/>
            </div>
        {% endfor %}
    </div>
</div>

{% include "blackjack/table/right-info.html" %}

<div class="right-button">
    <form class="button-form" hx-post="{% url 'blackjack:lost' pk %}" 
        hx-target="#table" hx-swap="innerHTML" hx-include="[name='action']" method="post">
        {% csrf_token %}
        <input name="action" class="button red" type="submit" id="Continue?" value="Continue?"/>
    </form>
</div>
