{% load static %}
<div id="name_form" hx-target="this" hx-swap="outerHTML">
    <h1>{{ game.name }}</h1>
    <button hx-get="{% url 'blackjack:change_name' pk %}"> click to edit </button>
</div>


<h2> Dealer's hand</h2>
<div class="hand">
    <div><img class="card" 
              src="{% static 'blackjack/svgs/fronts/' %}{{game.dealer_hand.0.file_name}}" 
              alt="{{ game.dealer_hand.0.name }}">
    </div>
    <div><img class="card" src="{% static 'blackjack/svgs/backs/abstract.svg' %}"></div>
</div>

<h2> {{ user.username }}'s hand</h2>
<div class="hand">
    {% for card in game.player_hand|slice:":-1" %}
        <div><img class="card" 
                  src="{% static 'blackjack/svgs/fronts/' %}{{ card.file_name }}" 
                  alt="{{ card.name }}">
        </div>
    {% endfor %}
    {% for card in game.player_hand|slice:"-1:" %}
        <div><img class="card card_draw" 
                  src="{% static 'blackjack/svgs/fronts/' %}{{ card.file_name }}" 
                  alt="{{ card.name }}">
        </div>
    {% endfor %}
</div>

<div class="button-box">
    <form class="game-action-form" hx-post="{% url 'blackjack:action' pk %}" 
        hx-target="#table" hx-swap="innerHTML" hx-include="[name='action']" method="post">
        {% csrf_token %}
        <input name="action" class="game-action-button" type="submit" id="hit" value="hit"/>
    </form>

    <form class="game-action-form" hx-post="{% url 'blackjack:action' pk %}" 
        hx-target="#table" hx-swap="innerHTML" hx-include="[include='action']" method="post">
        {% csrf_token %}
        <input name="action" class="game-action-button" type="submit" id="stand" value="stand"/>
    </form>
</div>
