{% load static %}

<div class="left-column center-row">
<p class="{{ game.winner }}">{{ game.winner }}!</p>
</div>

<div class="center-column">
    <h2> Dealer's hand</h2>
    <div class="hand">
        {% for card in game.dealer_hand %}
            <img height="333" width="234" alt="{{ card.name }}" 
                class="card
                {% if forloop.counter > 1 %} card-draw{% endif %}" 
                src="{% static 'blackjack/svgs/fronts/' %}{{ card.file_name }}" />
        {% endfor %}
    </div>

    <h2> {{ user.username }}'s hand</h2>
    <div class="hand">
        {% for card in game.player_hand %}
        <div class="card">
            <img height="333" width="234"
                src="{% static 'blackjack/svgs/fronts/' %}{{ card.file_name }}" 
                alt="{{ card.name }}"/>
        </div>
        {% endfor %}
    </div>
</div>

<div class="right-column center-row">
    <form class="button-form" hx-post="{% url 'blackjack:play_again' pk %}" 
        hx-target="#table" hx-swap="innerHTML" method="post">
        {% csrf_token %}
        <input class="button" type="submit" id="play_agian" value="Play again"/>
    </form>
</div>
