/* BlackJack Style */
*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background: #000;
    font-family: EB Garamond;
    color: #dedede;
    width: 50%;
    margin: 10%;
    padding: 0;
    font-size: 16px;
} 

.wrapper {
    height: 10rem;
    display: inline-grid;
    align-content: center;
    justify-content: center;
}

.name-textbox {
  width: 80%;
}

.name-form {
}

.player-win {
    color: #50C878;
    font-weight: bold;
}
/* is there a simpler method to making a class for every html tag?
 * is it worthwhile to edit django html forms?
 *
 * */
.dealer-win {
    color: #E60026;
    font-weight: bold;
}

.draw {
    font-weight: bold;
}

.buttonspace {
    margin: 1rem 0 0 2rem;
}

.game-buttons {
    padding: 10px 1rem 10px 1rem;
    border-radius: 10px;
    font-family: inherit;
    text-align: center;
    /* there's padding around the body(?) and extra space everywhere*/
    color: inherit;
    background: inherit;
}

.action-forms {
    display: inline;
}

h1 {
    padding-left: 2rem;
    margin: 1rem 0 0 0;
}

a {
    color: #eeb9b9;
}

ul {
    margin: 0;
}

li {
    list-style-type: none;
    margin: 2px 0px;
    padding-left: 1rem;
}

p {
    padding-left: 2rem;
    margin: 1rem 0 0 0;
}
