/* BlackJack Style */
*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background: #000;
    font-family: EB Garamond;
    color: #dedede;
    font-size: 16px;
    margin:0;
} 

label {
    display: block;
    margin-bottom: 5px;
    max-width: 100%;
}

h1, h2 {
    margin: 0 0 0 0;
    padding: 5px 0;
}


p {
    margin: 0 0 15px 0;
    padding-left: 1rem;
}

.hand {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border: solid 1px;
    border-radius: 10px;
    width: 22.5vw;
    height: 35vw;
    max-width: 11.25rem;
    max-height: 17.5rem;
    margin: 5px;
    transition: box-shadow 0.5s, transform 0.1s;
}

.card:hover {
    box-shadow: 0 0px 20px 2px pink;
    transform: translate(0px, -5px);
}


.wrapper {
    display: grid;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
}


.button-box {
    margin: 0;
    display: flex;
    justify-content: center;
}

.game-action-form {
    display: inline-grid;
    margin: 0;
    padding: 0;
}


.game-action-button {
    padding: 10px 1rem 10px 1rem;
    border-radius: 10px;
    font-family: inherit;
    text-align: center;
    color: inherit;
    background: inherit;
}

.outcome {
    font-weight: bold;
}

.win {
    color: #50C878;
}

.lose {
    color: #E60026;
}


